/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}


/****** banner du site **********/

.banner-site {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 79px;
    margin-bottom: 30px;
}

.banner_h {
    padding: 10px;
    text-align: center;
    width: auto;
    
}

.banner_a {
    padding: 10px;
    text-align: right;
    text-align: center;
}

.banner_h:hover {
    border-top: solid 2px;
    color: #0065FC;
}

.banner_a:hover {
    border-top: solid 2px;
    color: #0065FC;
}

.banner_row {
    display: flex;
    flex-direction: row;
}
 .logo_booki {
    height: 19px;
    align-self: center;
 }

 .search_tool {
    display: flex;
    flex-direction: row;
    margin-top: 35px;
 }

 .icone_location i {
    color: black;
 }


 .icone_location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F2F2F2;
    width: 50px;
    height: 50px;
    border-top-left-radius: 14px;
    border-bottom-left-radius: 14px;
    border-collapse: collapse;
 }

 .search_area input {
    height: 47px;
    font-weight: bold;
    border-collapse: collapse;
    border: 1px solid;
    border-color: #F2F2F2;
      
 }
 
 .button_search input {
    height: 50px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    background-color: #0065FC;
    color: white;
    font-weight: bold;
    border-collapse: collapse;
    border: none;
 }

.filter {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    margin-top: 35px;
}

.filter p {
    padding-left: 20px;
}

.economy,
.family,
.romantic,
.favorite {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 2px solid #d9d9d9;
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    margin-left: 20px;
}

.economy:hover,
.family:hover,
.romantic:hover,
.favorite:hover {
    background-color: #DEEBFF;
}





.point_info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 30px;
    padding-bottom: 30px;
}

.point_info p {
    padding-left: 10px;
}


.icone_info {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 25px;
    height: 25px;
    width: 25px;  
    font-size: 75%;
}


/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    margin-right: 40px;
}

.card-content-house {
    
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.house-cards img {
    
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}

.card-house {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 250px;
    height: 207px;
}

.house-cards {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    margin-bottom: 4px;
    gap: 30px;
}

.card-title-house {
    display: flex;
    margin: 0;
    margin-top: 4px;
    margin-bottom: 8px;
    font-size: 16px;
    flex-wrap: nowrap;
}

.card-subtitle-house {
    margin: 0;
    margin-bottom: 8px;
    font-size: 14px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}



/****** Activity ***********/

.activity {
    margin-top: 35px;
    margin-bottom: 65px;
}


.activity h3 {
    padding: 30px;
}

.card-activity {
    width: 297px;
    height: 439px;
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.25));
    margin-left: 30px;
}

.card-activity img {
    margin: 0;
    width: 297px;
    height: 380px;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;

}

h4 {
    margin-left: 20px; 
}

.activity-area {
    display: flex;
    flex-direction: row;
}

/****** Footer ***********/

.a-propos-card {  
    margin-top: 35px;
    background-color: #F2F2F2;
    width: 1340px;
    height: 163px;
    display: flex;
    flex-direction: row;
}
    

.txt-a-propos {
    font-weight: bold;
}


.left-part {
    width: 446px;
    padding-left: 20px;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.underline:hover {
    text-decoration: underline;
}






/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }

    .activity-area {
        
    }

    .a-propos-card {
        width: 100%;
    }

    .house-cards {
        display: flex;
        flex-wrap: wrap
    }

    .filter {
        display: flex;
        flex-wrap: wrap;
        row-gap: 20px;
        
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}